#Ignora Carpetas de ContenidoSecreto
**/ContenidoSecreto

#Ignora confi
/dynamics/php/config.php

#Ignora los pdf de assets
/assets/media/files/*.pdf

#ignora los .txt
**/*.txt

#Ignora las imagenes
**/*.png
**/*.jpg
**/*.jpeg

#Ignora los archivos local o prueba
*-local*.php
*-prueba*.php
*-local*.js
*-prueba*.js
*-local*.html
*-prueba*.html

#excepcion imagenes
!*anime*.jpg
!*system*.jpeg
!*loki*.png
!*2022-04-20*.jpg
!*steamuserimages*.jpg

#excepcion -experimento
!*-experimento*.php
!*-experimento*.php
!*-experimento*.js
!*-experimento*.js
!*-experimento*.html
!*-experimento*.html
